[submodule "dotfiles/.config/nvim"]
	path = dotfiles/.config/nvim
	url = https://github.com/arnaupv/nvim.config.git
[submodule "dotfiles/.config/alacritty/themes"]
	path = dotfiles/.config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule "dotfiles/.zsh/zsh-autosuggestions"]
	path = dotfiles/.zsh/zsh-autosuggestions
  url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "dotfiles/powerlevel10k"]
	path = dotfiles/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
